@if (spinner == true) {
<div class="center-cotainer">
  <div class="spinner-border" role="status" style="width: 3rem; height: 3rem"></div>
</div>
} @else if (!dataList.length){
<ng-container [ngTemplateOutlet]="emptyState"></ng-container>
} @else if (currentViewItem) {
<app-table-item-view [headers]="tableHeaders" [itemDetails]="currentViewItem" (onBack)="eventFromView($event)" />
} @else {

<div class="table-header">
  <div class="table-title">Table View</div>
  <div class="table-filters">
    <div class="search-bar">
      <span class="search-icon"><i class="fa-icon icon-search"></i></span>
      <input class="search-input" [(ngModel)]="filterQuery" type="text" placeholder="Search" />
    </div>
  </div>
</div>

@if ((dataList | tableFilter: filterQuery).length) {
<div class="table-responsive-md">
  <table class="table table-hover table-bordered" width="{{ tableWidth }}px">
    <thead class="table-dark thead-dark">
      <tr>
        @for (column of tableHeaders; track $index) {
        <th>{{ column }}</th>
        }
        <th width="150px"></th>
      </tr>
    </thead>
    <tbody>
      @for (row of dataList | tableFilter: filterQuery; track $index) {
      <tr>
        @for (column of tableHeaders; track $index) {
        <td appEditableContent [(ngModel)]="row[column]"></td>
        }
        <td>
          <a class="btn btn-primary" role="button" (click)="onViewDetails(row)">View Details</a>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
} @else {
<ng-container [ngTemplateOutlet]="emptyState"></ng-container>
} }

<ng-template #emptyState>
  <div class="center-cotainer">
    <h1>No Data Found</h1>
  </div>
</ng-template>