body {
  background-color: #F9F9FB;
  font-family: 'Poppins', sans-serif;  
}

.page-container {
  padding: 60px;
  height: 100%;
}

.center-cotainer {
  padding: 75px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-header {
  display: flex;
  justify-content: space-between;
}

.table-header .table-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  align-content: center;
}

.table-header .table-filters {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
}

.table-filters .search-bar {
  padding: 10px 12px;
  border-bottom: 1px solid #E3E3E3;
  align-content: center;
}

.fa-icon {
  color: #848484;
  height: 12px;
  width: 12px;
}

.search-bar .search-icon {
  margin: 0;
  display: inline;
  padding: 4px;
  margin-inline-end: 1px;
  align-items: center;
}

.search-bar .search-input {
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
  background-color: inherit;
}

.search-bar .search-input::placeholder {
  color: #BABABA;
}


table {
  width: 100%;
}

thead {
  position: sticky;
  top: 0;
}

th {  
  text-transform: capitalize;
}

.card-view {
  margin-top: 10px;
}

[appEditableContent] {
  outline: none;
}

